.animateit{opacity:0;}
.fade-up {
  animation: lifadeUp 0.5s ease-out, fadeIn 1s ease-out;
}

/* Low intensity fade down */
.fade-down {
  animation: lifadeDown 0.5s ease-out, fadeIn 1s ease-out;
}

/* Low intensity fade left */
.fade-left {
  animation: lifadeLeft 0.5s ease-out, fadeIn 1s ease-out;
}

/* Low intensity fade right */
.fade-right {
  animation: lifadeRight 0.5s ease-out, fadeIn 1s ease-out;
}

/* Duration classes */
.duration-0_5s {
  animation-duration: 0.5s;
}

.duration-1s {
  animation-duration: 1s;
}

.duration-2s {
  animation-duration: 2s;
}


@keyframes lifadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lifadeDown {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lifadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lifadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Delay classes */
.delay-0_25s {
  animation-delay: 0.25s;
}

.delay-0_5s {
  animation-delay: 0.5s;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}
